- First column : sessionID
- Second column : ItemID
- Third column : Timestamps

In [1]:
# df_action = pd.read_csv('../input/제6회 L.POINT Big Data Competition-분석용데이터-01.온라인 행동 정보.csv', parse_dates=['sess_dt'])
# df_transaction = pd.read_csv('../input/제6회 L.POINT Big Data Competition-분석용데이터-02.거래 정보.csv', parse_dates=['de_dt'])
df_transaction = pd.read_csv('../input/제6회 L.POINT Big Data Competition-분석용데이터-02.거래 정보.csv')

In [2]:
df_transaction.head()

,clnt_id,trans_id,trans_seq,biz_unit,pd_c,de_dt,de_tm,buy_am,buy_ct
0,21922,104999,1,A03,unknown,20190920,12:41,5990,1
1,21279,104907,4,A03,unknown,20190920,10:27,10900,1
2,39423,105124,11,A03,unknown,20190920,17:26,12900,1
3,18362,104010,1,A03,unknown,20190920,09:57,9900,1
4,39423,105124,13,A03,0565,20190920,17:26,2990,1

In [3]:
df = df_transaction[['clnt_id', 'de_dt', 'de_tm', 'pd_c']]
df

        clnt_id     de_dt  de_tm     pd_c
0         21922  20190920  12:41  unknown
1         21279  20190920  10:27  unknown
2         39423  20190920  17:26  unknown
3         18362  20190920  09:57  unknown
4         39423  20190920  17:26     0565
...         ...       ...    ...      ...
599956    35311  20190927  14:09     0339
599957    35311  20190927  14:09     0339
599958    35311  20190927  14:09     0339
599959    35311  20190927  14:09     0339
599960    35311  20190927  14:09     0324

[599961 rows x 4 columns]

In [4]:
df = df[df.pd_c != 'unknown']
df['de_dt'] = df['de_dt'].astype(str)
df['pur_time'] = df['de_dt'] + ' ' + df['de_tm']
df.drop(columns=['de_dt','de_tm'], inplace=True)

In [5]:
df['tuple'] = df[['pur_time','pd_c']].apply(tuple, axis=1)

In [6]:
df.sort_values(by=['clnt_id'], axis=0)

        clnt_id  pd_c        pur_time                   tuple
118651        2  0189  20190731 21:25  (20190731 21:25, 0189)
118652        2  0186  20190731 21:25  (20190731 21:25, 0186)
107209        2  0151  20190731 21:25  (20190731 21:25, 0151)
114604        2  0092  20190729 23:47  (20190729 23:47, 0092)
161808        2  1395  20190830 22:00  (20190830 22:00, 1395)
...         ...   ...             ...                     ...
215404    72424  1395  20190727 11:22  (20190727 11:22, 1395)
203163    72424  0235  20190727 11:22  (20190727 11:22, 0235)
205914    72424  0964  20190718 20:05  (20190718 20:05, 0964)
215478    72424  0864  20190727 11:22  (20190727 11:22, 0864)
275658    72424  0188  20190727 11:22  (20190727 11:22, 0188)

[582309 rows x 4 columns]

In [7]:
pd.set_option('display.max.colwidth', 100)
df1 = df.groupby('clnt_id')['tuple'].apply(list).reset_index(name='purchase')
df1

,clnt_id,purchase
0,2,"[(20190801 22:00, 0092), (20190731 21:25, 0092), (20190731 21:25, 0151), (20190731 21:25, 0351),..."
1,9,"[(20190904 21:36, 0348), (20190904 21:36, 0350), (20190904 21:36, 0188), (20190904 21:36, 0515),..."
2,12,"[(20190824 14:09, 0542)]"
3,20,"[(20190920 15:57, 1609), (20190920 15:57, 1571), (20190920 15:57, 1608), (20190920 15:57, 1598),..."
4,23,"[(20190711 19:34, 0097), (20190711 19:34, 1242), (20190901 12:30, 1616), (20190901 12:30, 0536),..."
...,...,...
11266,72373,"[(20190731 13:28, 1628), (20190731 13:28, 1628), (20190731 13:28, 0984), (20190731 13:28, 0348),..."
11267,72400,"[(20190908 14:23, 0981), (20190825 11:09, 1076), (20190731 09:46, 1064), (20190731 09:02, 1017)]"
11268,72410,"[(20190703 11:44, 1210), (20190703 11:44, 1213), (20190703 11:44, 1200), (20190703 11:44, 1215),..."
11269,72423,"[(20190917 11:48, 0169), (20190819 16:50, 0704)]"
11270,72424,"[(20190924 17:12, 0960), (20190924 17:12, 0968), (20190924 10:24, 1608), (20190924 10:24, 1604),..."

In [8]:
sorted(df1.purchase[0], key=lambda x:x[0])

[('20190704 15:34', '1015'),
 ('20190729 23:47', '0092'),
 ('20190731 21:25', '0092'),
 ('20190731 21:25', '0151'),
 ('20190731 21:25', '0351'),
 ('20190731 21:25', '0189'),
 ('20190731 21:25', '0186'),
 ('20190801 22:00', '0092'),
 ('20190809 10:14', '0857'),
 ('20190830 22:00', '1395'),
 ('20190830 22:00', '1395'),
 ('20190830 22:00', '1395')]

In [9]:
df1['purchase'] = df1['purchase'].apply(sorted)

In [10]:
pd.set_option('display.max.colwidth', 1000)
df1

,clnt_id,purchase
0,2,"[(20190704 15:34, 1015), (20190729 23:47, 0092), (20190731 21:25, 0092), (20190731 21:25, 0151), (20190731 21:25, 0186), (20190731 21:25, 0189), (20190731 21:25, 0351), (20190801 22:00, 0092), (20190809 10:14, 0857), (20190830 22:00, 1395), (20190830 22:00, 1395), (20190830 22:00, 1395)]"
1,9,"[(20190708 13:48, 0114), (20190708 13:48, 0347), (20190708 13:48, 0515), (20190708 13:48, 0517), (20190708 13:48, 1075), (20190708 13:48, 1183), (20190708 13:48, 1245), (20190708 13:48, 1386), (20190708 13:48, 1388), (20190713 19:21, 0995), (20190713 19:21, 1573), (20190713 19:21, 1600), (20190727 18:37, 0545), (20190727 18:37, 0663), (20190727 18:37, 0893), (20190727 18:37, 0952), (20190727 18:37, 0954), (20190727 18:37, 1564), (20190824 18:01, 0347), (20190824 18:01, 0572), (20190824 18:01, 1216), (20190824 18:01, 1617), (20190904 21:36, 0188), (20190904 21:36, 0348), (20190904 21:36, 0350), (20190904 21:36, 0515), (20190904 21:36, 0517), (20190904 21:36, 0517), (20190904 21:36, 1200), (20190904 21:36, 1395), (20190907 20:15, 0910), (20190907 20:15, 1123), (20190907 20:15, 1381), (20190907 20:15, 1394), (20190914 16:27, 0194), (20190914 16:27, 0543), (20190914 16:27, 0565), (20190914 16:27, 0952), (20190914 16:27, 1213)]"
2,12,"[(20190824 14:09, 0542)]"
3,20,"[(20190704 17:30, 0197), (20190730 17:39, 0114), (20190730 17:39, 0114), (20190731 16:10, 0114), (20190731 16:10, 0155), (20190731 16:10, 0567), (20190807 11:47, 0114), (20190807 11:47, 0186), (20190807 11:47, 0283), (20190807 11:47, 0385), (20190807 11:47, 0964), (20190807 11:47, 0984), (20190807 11:47, 1260), (20190807 11:47, 1568), (20190807 11:47, 1581), (20190807 11:47, 1582), (20190807 11:47, 1588), (20190807 11:47, 1595), (20190815 12:29, 0114), (20190815 12:29, 0114), (20190815 12:29, 0200), (20190815 12:29, 0382), (20190815 12:29, 0410), (20190815 12:29, 0516), (20190815 12:29, 0516), (20190815 12:29, 1132), (20190815 12:29, 1571), (20190815 12:29, 1584), (20190815 12:29, 1600), (20190920 15:57, 0114), (20190920 15:57, 0523), (20190920 15:57, 0984), (20190920 15:57, 1132), (20190920 15:57, 1571), (20190920 15:57, 1598), (20190920 15:57, 1608), (20190920 15:57, 1609), (20190930 13:23, 0114), (20190930 13:23, 0523), (20190930 13:23, 0943), (20190930 13:23, 0958), (20190930 1..."
4,23,"[(20190707 12:19, 0964), (20190711 19:34, 0097), (20190711 19:34, 0347), (20190711 19:34, 1235), (20190711 19:34, 1242), (20190720 00:37, 0838), (20190727 17:47, 0092), (20190727 17:47, 0351), (20190727 17:47, 1388), (20190727 17:47, 1400), (20190727 17:47, 1400), (20190826 18:07, 0172), (20190826 18:07, 0353), (20190826 18:07, 0526), (20190901 12:30, 0172), (20190901 12:30, 0172), (20190901 12:30, 0183), (20190901 12:30, 0351), (20190901 12:30, 0385), (20190901 12:30, 0536), (20190901 12:30, 0565), (20190901 12:30, 0572), (20190901 12:30, 0925), (20190901 12:30, 0943), (20190901 12:30, 0943), (20190901 12:30, 0955), (20190901 12:30, 1120), (20190901 12:30, 1571), (20190901 12:30, 1580), (20190901 12:30, 1596), (20190901 12:30, 1610), (20190901 12:30, 1616), (20190920 18:08, 0191), (20190920 18:08, 0198), (20190920 18:08, 0351), (20190920 18:08, 0408), (20190920 18:08, 0533), (20190920 18:08, 1588), (20190924 18:34, 0175), (20190924 18:34, 0178), (20190924 18:34, 0565), (20190924 1..."
...,...,...
11266,72373,"[(20190721 20:51, 0735), (20190724 09:27, 0219), (20190724 09:27, 1368), (20190731 13:28, 0178), (20190731 13:28, 0348), (20190731 13:28, 0984), (20190731 13:28, 1628), (20190731 13:28, 1628), (20190830 10:56, 0179), (20190830 10:56, 0529), (20190830 10:56, 0952), (20190830 10:56, 0979), (20190904 10:13, 0219), (20190904 10:13, 0326), (20190904 10:13, 0334), (20190904 12:54, 1017), (20190904 12:58, 0150), (20190908 20:19, 1019), (20190916 07:39, 0870), (20190916 07:39, 1068)]"
11267,72400,"[(20190731 09:02, 1017), (20190731 09:46, 1064), (20190825 11:09, 1076), (20190908 14:23, 0981)]"
11268,72410,"[(20190702 14:31, 1666), (20190702 15:41, 0336), (20190702 16:02, 0188), (20190702 16:02, 0189), (20190702 16:02, 0354), (20190702 16:02, 1213), (20190702 16:02, 1213), (20190702 16:02, 1383), (20190703 11:44, 0098), (20190703 11:44, 0098), (20190703 11:44, 0565), (20190703 11:44, 1200), (20190703 11:44, 1210), (20190703 11:44, 1210), (20190703 11:44, 1210), (20190703 11:44, 1210), (20190703 11:44, 1210), (20190703 11:44, 1213), (20190703 11:44, 1213), (20190703 11:44, 1213), (20190703 11:44, 1213), (20190703 11:44, 1213), (20190703 11:44, 1215), (20190703 11:44, 1216), (20190703 11:44, 1615), (20190710 10:32, 0842), (20190710 10:32, 1666), (20190716 23:22, 0670), (20190722 23:55, 0720), (20190726 13:59, 0350), (20190803 16:14, 0114), (20190803 16:14, 0186), (20190803 16:14, 0192), (20190803 16:14, 0198), (20190803 16:14, 0348), (20190803 16:14, 0354), (20190803 16:14, 1184), (20190803 16:14, 1213), (20190803 16:14, 1232), (20190803 16:14, 1233), (20190803 16:14, 1587), (20190806 1..."
11269,72423,"[(20190819 16:50, 0704), (20190917 11:48, 0169)]"
11270,72424,"[(20190718 20:05, 0002), (20190718 20:05, 0070), (20190718 20:05, 0205), (20190718 20:05, 0213), (20190718 20:05, 0221), (20190718 20:05, 0226), (20190718 20:05, 0354), (20190718 20:05, 0367), (20190718 20:05, 0864), (20190718 20:05, 0964), (20190718 20:05, 1383), (20190727 11:22, 0092), (20190727 11:22, 0104), (20190727 11:22, 0188), (20190727 11:22, 0197), (20190727 11:22, 0198), (20190727 11:22, 0235), (20190727 11:22, 0235), (20190727 11:22, 0354), (20190727 11:22, 0391), (20190727 11:22, 0392), (20190727 11:22, 0409), (20190727 11:22, 0525), (20190727 11:22, 0670), (20190727 11:22, 0860), (20190727 11:22, 0861), (20190727 11:22, 0862), (20190727 11:22, 0862), (20190727 11:22, 0862), (20190727 11:22, 0864), (20190727 11:22, 0864), (20190727 11:22, 0952), (20190727 11:22, 0960), (20190727 11:22, 0964), (20190727 11:22, 0982), (20190727 11:22, 0990), (20190727 11:22, 0990), (20190727 11:22, 1183), (20190727 11:22, 1189), (20190727 11:22, 1210), (20190727 11:22, 1210), (20190727 1..."

In [30]:
df2 = df_transaction[['clnt_id', 'de_dt', 'de_tm', 'pd_c']]
df2

        clnt_id     de_dt  de_tm     pd_c
0         21922  20190920  12:41  unknown
1         21279  20190920  10:27  unknown
2         39423  20190920  17:26  unknown
3         18362  20190920  09:57  unknown
4         39423  20190920  17:26     0565
...         ...       ...    ...      ...
599956    35311  20190927  14:09     0339
599957    35311  20190927  14:09     0339
599958    35311  20190927  14:09     0339
599959    35311  20190927  14:09     0339
599960    35311  20190927  14:09     0324

[599961 rows x 4 columns]

In [31]:
df2 = df2[df2.pd_c != 'unknown']
df2['de_dt'] = df2['de_dt'].astype(str)
df2['pur_time'] = df2['de_dt'] + ' ' + df2['de_tm']
df2.drop(columns=['de_dt','de_tm'], inplace=True)

In [32]:
df2

        clnt_id  pd_c        pur_time
4         39423  0565  20190920 17:26
5         21279  0565  20190920 10:27
6         48969  0572  20190920 10:05
7         30533  0670  20190920 14:36
8         64346  0543  20190920 22:34
...         ...   ...             ...
599956    35311  0339  20190927 14:09
599957    35311  0339  20190927 14:09
599958    35311  0339  20190927 14:09
599959    35311  0339  20190927 14:09
599960    35311  0324  20190927 14:09

[582309 rows x 3 columns]

In [14]:
# df['freq'] = df.groupby('a')['a'].transform('count')
# df2['tuple'] = df2[['pur_time','pd_c']].apply(tuple, axis=1)

In [15]:
df2

        clnt_id  pd_c        pur_time
4         39423  0565  20190920 17:26
5         21279  0565  20190920 10:27
6         48969  0572  20190920 10:05
7         30533  0670  20190920 14:36
8         64346  0543  20190920 22:34
...         ...   ...             ...
599956    35311  0339  20190927 14:09
599957    35311  0339  20190927 14:09
599958    35311  0339  20190927 14:09
599959    35311  0339  20190927 14:09
599960    35311  0324  20190927 14:09

[582309 rows x 3 columns]

In [16]:
df2['tuple'] = df2[['pur_time','pd_c']].apply(tuple, axis=1)

In [17]:
df2

        clnt_id  pd_c        pur_time                   tuple
4         39423  0565  20190920 17:26  (20190920 17:26, 0565)
5         21279  0565  20190920 10:27  (20190920 10:27, 0565)
6         48969  0572  20190920 10:05  (20190920 10:05, 0572)
7         30533  0670  20190920 14:36  (20190920 14:36, 0670)
8         64346  0543  20190920 22:34  (20190920 22:34, 0543)
...         ...   ...             ...                     ...
599956    35311  0339  20190927 14:09  (20190927 14:09, 0339)
599957    35311  0339  20190927 14:09  (20190927 14:09, 0339)
599958    35311  0339  20190927 14:09  (20190927 14:09, 0339)
599959    35311  0339  20190927 14:09  (20190927 14:09, 0339)
599960    35311  0324  20190927 14:09  (20190927 14:09, 0324)

[582309 rows x 4 columns]

In [18]:
df2['freq'] = df2.groupby('tuple')['tuple'].transform('count')

In [19]:
df2

        clnt_id  pd_c        pur_time                   tuple  freq
4         39423  0565  20190920 17:26  (20190920 17:26, 0565)     2
5         21279  0565  20190920 10:27  (20190920 10:27, 0565)     1
6         48969  0572  20190920 10:05  (20190920 10:05, 0572)     1
7         30533  0670  20190920 14:36  (20190920 14:36, 0670)     1
8         64346  0543  20190920 22:34  (20190920 22:34, 0543)     1
...         ...   ...             ...                     ...   ...
599956    35311  0339  20190927 14:09  (20190927 14:09, 0339)     5
599957    35311  0339  20190927 14:09  (20190927 14:09, 0339)     5
599958    35311  0339  20190927 14:09  (20190927 14:09, 0339)     5
599959    35311  0339  20190927 14:09  (20190927 14:09, 0339)     5
599960    35311  0324  20190927 14:09  (20190927 14:09, 0324)     1

[582309 rows x 5 columns]

In [20]:
df2.sort_values(by=['clnt_id'], axis=0)

        clnt_id  pd_c        pur_time                   tuple  freq
118651        2  0189  20190731 21:25  (20190731 21:25, 0189)     1
118652        2  0186  20190731 21:25  (20190731 21:25, 0186)     1
107209        2  0151  20190731 21:25  (20190731 21:25, 0151)     1
114604        2  0092  20190729 23:47  (20190729 23:47, 0092)     1
161808        2  1395  20190830 22:00  (20190830 22:00, 1395)     3
...         ...   ...             ...                     ...   ...
215404    72424  1395  20190727 11:22  (20190727 11:22, 1395)     1
203163    72424  0235  20190727 11:22  (20190727 11:22, 0235)     2
205914    72424  0964  20190718 20:05  (20190718 20:05, 0964)     2
215478    72424  0864  20190727 11:22  (20190727 11:22, 0864)     2
275658    72424  0188  20190727 11:22  (20190727 11:22, 0188)     1

[582309 rows x 5 columns]

In [22]:
df2['purchases'] = df2[['pur_time','pd_c','freq']].apply(tuple, axis=1)

In [23]:
df2.sort_values(by=['clnt_id'], axis=0)

,clnt_id,pd_c,pur_time,tuple,freq,purchases
118651,2,0189,20190731 21:25,"(20190731 21:25, 0189)",1,"(20190731 21:25, 0189, 1)"
118652,2,0186,20190731 21:25,"(20190731 21:25, 0186)",1,"(20190731 21:25, 0186, 1)"
107209,2,0151,20190731 21:25,"(20190731 21:25, 0151)",1,"(20190731 21:25, 0151, 1)"
114604,2,0092,20190729 23:47,"(20190729 23:47, 0092)",1,"(20190729 23:47, 0092, 1)"
161808,2,1395,20190830 22:00,"(20190830 22:00, 1395)",3,"(20190830 22:00, 1395, 3)"
...,...,...,...,...,...,...
215404,72424,1395,20190727 11:22,"(20190727 11:22, 1395)",1,"(20190727 11:22, 1395, 1)"
203163,72424,0235,20190727 11:22,"(20190727 11:22, 0235)",2,"(20190727 11:22, 0235, 2)"
205914,72424,0964,20190718 20:05,"(20190718 20:05, 0964)",2,"(20190718 20:05, 0964, 2)"
215478,72424,0864,20190727 11:22,"(20190727 11:22, 0864)",2,"(20190727 11:22, 0864, 2)"
275658,72424,0188,20190727 11:22,"(20190727 11:22, 0188)",1,"(20190727 11:22, 0188, 1)"

In [28]:
df3 = df2.groupby('clnt_id')['purchases'].apply(list).reset_index(name='purchase')
df3['purchase'] = df3['purchase'].apply(sorted)

In [29]:
df3

,clnt_id,purchase
0,2,"[(20190704 15:34, 1015, 1), (20190729 23:47, 0092, 1), (20190731 21:25, 0092, 1), (20190731 21:25, 0151, 1), (20190731 21:25, 0186, 1), (20190731 21:25, 0189, 1), (20190731 21:25, 0351, 1), (20190801 22:00, 0092, 1), (20190809 10:14, 0857, 1), (20190830 22:00, 1395, 3), (20190830 22:00, 1395, 3), (20190830 22:00, 1395, 3)]"
1,9,"[(20190708 13:48, 0114, 1), (20190708 13:48, 0347, 1), (20190708 13:48, 0515, 1), (20190708 13:48, 0517, 1), (20190708 13:48, 1075, 1), (20190708 13:48, 1183, 1), (20190708 13:48, 1245, 1), (20190708 13:48, 1386, 1), (20190708 13:48, 1388, 1), (20190713 19:21, 0995, 1), (20190713 19:21, 1573, 1), (20190713 19:21, 1600, 1), (20190727 18:37, 0545, 1), (20190727 18:37, 0663, 1), (20190727 18:37, 0893, 1), (20190727 18:37, 0952, 2), (20190727 18:37, 0954, 1), (20190727 18:37, 1564, 1), (20190824 18:01, 0347, 1), (20190824 18:01, 0572, 1), (20190824 18:01, 1216, 1), (20190824 18:01, 1617, 2), (20190904 21:36, 0188, 1), (20190904 21:36, 0348, 1), (20190904 21:36, 0350, 1), (20190904 21:36, 0515, 1), (20190904 21:36, 0517, 2), (20190904 21:36, 0517, 2), (20190904 21:36, 1200, 1), (20190904 21:36, 1395, 1), (20190907 20:15, 0910, 1), (20190907 20:15, 1123, 1), (20190907 20:15, 1381, 1), (20190907 20:15, 1394, 1), (20190914 16:27, 0194, 1), (20190914 16:27, 0543, 1), (20190914 16:27, 0565, ..."
2,12,"[(20190824 14:09, 0542, 1)]"
3,20,"[(20190704 17:30, 0197, 1), (20190730 17:39, 0114, 2), (20190730 17:39, 0114, 2), (20190731 16:10, 0114, 2), (20190731 16:10, 0155, 1), (20190731 16:10, 0567, 1), (20190807 11:47, 0114, 1), (20190807 11:47, 0186, 1), (20190807 11:47, 0283, 1), (20190807 11:47, 0385, 1), (20190807 11:47, 0964, 2), (20190807 11:47, 0984, 1), (20190807 11:47, 1260, 1), (20190807 11:47, 1568, 1), (20190807 11:47, 1581, 1), (20190807 11:47, 1582, 1), (20190807 11:47, 1588, 1), (20190807 11:47, 1595, 1), (20190815 12:29, 0114, 2), (20190815 12:29, 0114, 2), (20190815 12:29, 0200, 1), (20190815 12:29, 0382, 1), (20190815 12:29, 0410, 1), (20190815 12:29, 0516, 2), (20190815 12:29, 0516, 2), (20190815 12:29, 1132, 1), (20190815 12:29, 1571, 1), (20190815 12:29, 1584, 1), (20190815 12:29, 1600, 1), (20190920 15:57, 0114, 1), (20190920 15:57, 0523, 1), (20190920 15:57, 0984, 1), (20190920 15:57, 1132, 1), (20190920 15:57, 1571, 1), (20190920 15:57, 1598, 1), (20190920 15:57, 1608, 1), (20190920 15:57, 1609, ..."
4,23,"[(20190707 12:19, 0964, 1), (20190711 19:34, 0097, 1), (20190711 19:34, 0347, 1), (20190711 19:34, 1235, 1), (20190711 19:34, 1242, 1), (20190720 00:37, 0838, 1), (20190727 17:47, 0092, 1), (20190727 17:47, 0351, 1), (20190727 17:47, 1388, 1), (20190727 17:47, 1400, 2), (20190727 17:47, 1400, 2), (20190826 18:07, 0172, 1), (20190826 18:07, 0353, 1), (20190826 18:07, 0526, 1), (20190901 12:30, 0172, 2), (20190901 12:30, 0172, 2), (20190901 12:30, 0183, 1), (20190901 12:30, 0351, 1), (20190901 12:30, 0385, 1), (20190901 12:30, 0536, 1), (20190901 12:30, 0565, 1), (20190901 12:30, 0572, 1), (20190901 12:30, 0925, 1), (20190901 12:30, 0943, 2), (20190901 12:30, 0943, 2), (20190901 12:30, 0955, 1), (20190901 12:30, 1120, 1), (20190901 12:30, 1571, 1), (20190901 12:30, 1580, 1), (20190901 12:30, 1596, 1), (20190901 12:30, 1610, 1), (20190901 12:30, 1616, 1), (20190920 18:08, 0191, 1), (20190920 18:08, 0198, 1), (20190920 18:08, 0351, 1), (20190920 18:08, 0408, 1), (20190920 18:08, 0533, ..."
...,...,...
11266,72373,"[(20190721 20:51, 0735, 1), (20190724 09:27, 0219, 1), (20190724 09:27, 1368, 1), (20190731 13:28, 0178, 1), (20190731 13:28, 0348, 1), (20190731 13:28, 0984, 1), (20190731 13:28, 1628, 2), (20190731 13:28, 1628, 2), (20190830 10:56, 0179, 1), (20190830 10:56, 0529, 1), (20190830 10:56, 0952, 1), (20190830 10:56, 0979, 1), (20190904 10:13, 0219, 1), (20190904 10:13, 0326, 1), (20190904 10:13, 0334, 1), (20190904 12:54, 1017, 1), (20190904 12:58, 0150, 1), (20190908 20:19, 1019, 1), (20190916 07:39, 0870, 1), (20190916 07:39, 1068, 1)]"
11267,72400,"[(20190731 09:02, 1017, 1), (20190731 09:46, 1064, 1), (20190825 11:09, 1076, 1), (20190908 14:23, 0981, 1)]"
11268,72410,"[(20190702 14:31, 1666, 1), (20190702 15:41, 0336, 1), (20190702 16:02, 0188, 1), (20190702 16:02, 0189, 2), (20190702 16:02, 0354, 1), (20190702 16:02, 1213, 2), (20190702 16:02, 1213, 2), (20190702 16:02, 1383, 1), (20190703 11:44, 0098, 2), (20190703 11:44, 0098, 2), (20190703 11:44, 0565, 1), (20190703 11:44, 1200, 1), (20190703 11:44, 1210, 5), (20190703 11:44, 1210, 5), (20190703 11:44, 1210, 5), (20190703 11:44, 1210, 5), (20190703 11:44, 1210, 5), (20190703 11:44, 1213, 5), (20190703 11:44, 1213, 5), (20190703 11:44, 1213, 5), (20190703 11:44, 1213, 5), (20190703 11:44, 1213, 5), (20190703 11:44, 1215, 1), (20190703 11:44, 1216, 1), (20190703 11:44, 1615, 1), (20190710 10:32, 0842, 1), (20190710 10:32, 1666, 1), (20190716 23:22, 0670, 1), (20190722 23:55, 0720, 1), (20190726 13:59, 0350, 1), (20190803 16:14, 0114, 1), (20190803 16:14, 0186, 1), (20190803 16:14, 0192, 1), (20190803 16:14, 0198, 1), (20190803 16:14, 0348, 1), (20190803 16:14, 0354, 1), (20190803 16:14, 1184, ..."
11269,72423,"[(20190819 16:50, 0704, 1), (20190917 11:48, 0169, 1)]"
11270,72424,"[(20190718 20:05, 0002, 1), (20190718 20:05, 0070, 1), (20190718 20:05, 0205, 1), (20190718 20:05, 0213, 1), (20190718 20:05, 0221, 1), (20190718 20:05, 0226, 1), (20190718 20:05, 0354, 2), (20190718 20:05, 0367, 1), (20190718 20:05, 0864, 2), (20190718 20:05, 0964, 2), (20190718 20:05, 1383, 1), (20190727 11:22, 0092, 1), (20190727 11:22, 0104, 1), (20190727 11:22, 0188, 1), (20190727 11:22, 0197, 1), (20190727 11:22, 0198, 1), (20190727 11:22, 0235, 2), (20190727 11:22, 0235, 2), (20190727 11:22, 0354, 1), (20190727 11:22, 0391, 1), (20190727 11:22, 0392, 1), (20190727 11:22, 0409, 1), (20190727 11:22, 0525, 1), (20190727 11:22, 0670, 1), (20190727 11:22, 0860, 1), (20190727 11:22, 0861, 1), (20190727 11:22, 0862, 3), (20190727 11:22, 0862, 3), (20190727 11:22, 0862, 3), (20190727 11:22, 0864, 2), (20190727 11:22, 0864, 2), (20190727 11:22, 0952, 3), (20190727 11:22, 0960, 1), (20190727 11:22, 0964, 1), (20190727 11:22, 0982, 1), (20190727 11:22, 0990, 3), (20190727 11:22, 0990, ..."